# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local
.env*.local
.env*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pem

# Build outputs
.next/
/out/
dist/
build/
*.egg-info/
*.tsbuildinfo
next-env.d.ts

# Testing
/coverage

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python
venv/
env/
ENV/
.venv

# Vercel
.vercel

